pyttsx3==2.90
speechrecognition==3.8.1
opencv-python==4.5.5.64
mediapipe==0.8.9.1
numpy==1.21.5
psutil==5.9.0
pyautogui==0.9.53
pyjokes==0.6.0
requests==2.27.1
webbrowser==0.2.1
apscheduler==3.9.1
geopy==2.2.0
googletrans==3.1.0a0
newsapi-python==0.2.6
tensorflow==2.8.0
cryptography==36.0.1
pywhatkit==5.3
paho-mqtt==1.6.1
python-dotenv==0.19.2
